{% extends 'base.html.twig' %}

{% block title %}Hello AnasayfaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>İl Listesi</h1>
    <table border="1">

        <tr>
            <th>Ad</th>
            <th>Plaka Kodu</th>
            <th>Bölge</th>
            <th>Erkek Nüfus</th>
            <th>Kadın Nufus</th>
            <th>Toplam Nufus</th>
        </tr>
        {% for il in iller %}
        <tr>
            <td> <a href="{{ path("il",{"il_id":il.id}) }}">{{ il.getIlAdi() }}</a> </td>
            <td> {{ il.getPlakaKodu() }}</td>
            <td> {{ il.getBolge() }}</td>
            <td> {{ il.getErkekNufus() }}</td>
            <td> {{ il.getKadinNufus() }}</td>
            <td> {{ il.getNufus() }}</td>
        </tr>
       {% endfor %}
    </table>
</div>
{% endblock %}
