{% extends 'base.html.twig' %}

{% block title %}Hello AnasayfaController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>İlce </h1>
        <table style="width: 100%" border="1">



            <tr>
                <td>İlçe Adı</td>
                <td>{{ ilce.getIlceAdi() }}</td>
            </tr>
            <tr>
                <td> Erkek Nufus</td>
                <td> {{ ilce.getErkekNufus() }}</td>
            </tr>
            <tr>
                <td>Kadın Nufus</td>
                <td> {{ ilce.getKadinNufus() }}</td>
            </tr>
            <tr>
                <td>Toplam Nufus</td>
                <td> {{ ilce.getNufus() }}</td>
            </tr>

        </table>
    </div>

    <div class="example-wrapper">
        <h1>İl  </h1>
        <table style="width: 100%" border="1">



            <tr>
                <td>İl Adı</td>
                <td>{{ ilce.iller.getIlAdi() }}</td>
            </tr>
            <tr>
                <td>İl Plaka Kodu</td>
                <td>{{ ilce.iller.getPlakaKodu() }}</td>
            </tr>
            <tr>
                <td> Erkek Nufus</td>
                <td> {{ ilce.iller.getErkekNufus() }}</td>
            </tr>
            <tr>
                <td>Kadın Nufus</td>
                <td> {{ ilce.iller.getKadinNufus() }}</td>
            </tr>
            <tr>
                <td>Toplam Nufus</td>
                <td> {{ ilce.iller.getNufus() }}</td>
            </tr>

        </table>
    </div>


{% endblock %}
