{% extends 'base.html.twig' %}

{% block title %}Hello AnasayfaController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>İl </h1>
        <table style="width: 100%" border="1">

            <tr>
                <th>Ad</th>
                <th>Plaka Kodu</th>
                <th>Bölge</th>
                <th>Erkek Nüfus</th>
                <th>Kadın Nufus</th>
                <th>Toplam Nufus</th>
            </tr>

                <tr>
                    <td>{{ il.getIlAdi() }}</td>
                    <td> {{ il.getPlakaKodu() }}</td>
                    <td> {{ il.getBolge() }}</td>
                    <td> {{ il.getErkekNufus() }}</td>
                    <td> {{ il.getKadinNufus() }}</td>
                    <td> {{ il.getNufus() }}</td>
                </tr>

        </table>
    </div>

    <div class="example-wrapper">
        <h1>İlce Listesi</h1>
        <table border="1" style="width: 100%">

            <tr>
                <th>Ad</th>
                <th>Erkek Nüfus</th>
                <th>Kadın Nufus</th>
                <th>Toplam Nufus</th>
            </tr>
        {% for ilce in il.ilceler() %}
            <tr>
                <td><a href="{{ path("ilce",{"ilce_id":ilce.id}) }}"> {{ ilce.getIlceAdi() }}</a></td>
                <td> {{ ilce.getErkekNufus() }}</td>
                <td> {{ ilce.getKadinNufus() }}</td>
                <td> {{ ilce.getNufus() }} </td>
            </tr>
{% endfor %}
        </table>
    </div>
{% endblock %}
